{% extends 'base.twig' %}

{% block title          'Welcome' %}
{% block description    'Silex Típico es una base para empezar con tus pequeños proyectos' %}

{% block body %}
   <h1>Welcome to Silex Típico</h1>
{% endblock %}